* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#box {
  height: 300px;
  width: 300px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  margin-top: 90%;
}
